extends layout

block content
    .container
      .starter-template
        h1 Insert
        div
          form(method='POST', action='/')
            .form-group
              label(for='name') Name:
              br
              input#name(type='text', name='name', value='')
              br
              label(for='description') Description:
              br
              input#description(type='text', name='description', value='')
            button.btn.btn-primary(type='submit') Submit
          button.btn.btn-primary(type='button') Insert
          button.btn.btn-primary(type='button') Update
          button.btn.btn-primary(type='button') Delete